<div class="page">
  <div class="nav">
    <h2>ngutil</h2>
    <ul>
      <li><a routerLink="/refetch-on-stale">Refetch on stale</a></li>
      <li><a routerLink="/image-svg-fallback">Image SVG fallback</a></li>
      <li><a routerLink="/rxjs-operators">RxJs Operators</a></li>
      <li><a routerLink="/selectable-grid">Selectable Grid</a></li>
      <li><a routerLink="/anti-flicker-switch">Anti Flicker Switch</a></li>
      <li><a routerLink="/selection-list">Selection List</a></li>
    </ul>
    <h2>matx</h2>
    <ul>
      <li><a routerLink="/weekpicker">Weekpicker</a></li>
      <li><a routerLink="/popover">Popover</a></li>
      <li>
        <a routerLink="/paginated-async-autocomplete"
          >Paginated Async Autocomplete</a
        >
      </li>
      <li><a routerLink="/checkable-async-tree">Checkable Async Tree</a></li>
    </ul>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
