table,
tr,
td {
  border: 1px solid blue;
}

td {
  height: 40px;
  width: 100px;
  text-align: center;
}

.grid {
  width: 530px;
}

.grid-row {
  display: flex;
}

.grid,
.grid-col {
  border: 1px solid green;
}

.grid-col {
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
}

.ngutil-selectable-grid-cell.selected {
  background-color: yellowgreen;
}
